<div class="p-3">
    <div class="card-body">
        <h3>List Products</h3>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Selected</th> <!-- Nouvelle colonne -->
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                @for (p of products; track p) {
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>
                            <input type="checkbox" [(ngModel)]="p.selected" />  <!-- Case à cocher liée -->
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteProduct(p)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
